body{
    background-image: url(../img/8.jpg);/*Fondo de mi pagina web completa*/
    background-size: 100vw 100vh ; /*100% Ancho de la ventana y 100% Alto de la ventana */ 
    background-attachment: fixed ; /*Para que la imagen se queda fija*/
    margin : 0 ; /* Para quitarle el espaciado del body*/
    font-family: monospace;
    color : #fff;
}


header{
    text-align: center;
    margin : Auto ;
    background:rgba(8, 18, 29, 0.801)
}

#img{
    width:400px;
    height:400px;
    margin: 20px 0px 10px 0px; /*superior derecho  inferior izquierdo*/
}

.message{
    margin: 30px 0px 30px 0px; /*superior derecho  inferior izquierdo*/
    font-size: 15px; 
    background-position: center ;
}

form{
    width: 450px ; /* Ancho de 450 px*/
    margin : Auto ; /* Para que lo centre el formulario */
    background:rgba(0,0,0,0.6); /* Color del Formulario y el ultimo nos dice la transparencia*/
    padding: 10px 20px ; /*Relleno : 10 manera vertical 20 horizontal*/
    box-sizing: border-box ; /*El relleno se pondra dentro del formulario*/
    margin-top: 20 px; /**/
    border-radius: 20px ; /*Redondez de las esquinas */
    font-size: 15px; 
}

h1,h2,h3{
    text-align: center;
    margin : 0 ;
    font-size: 20px; 
    margin-bottom: 20px;

}

input , textarea {
    width: 100% ; /* Ancho del 100%*/
    margin-bottom: 10px;
    padding: 3% ; /*Agrana el tamaño del ingreso*/ 
    box-sizing: border-box ;
    font-size: 15px; 
    border: none;
}

textarea{
    min-height: 60px;/*Alto minimo*/
    max-height: 100px;/*Alto maximo*/
    max-width: 100%;/* Ancho maximo*/
    min-width: 100%;
}

#btnC , #btnD, #limpiar{
    background: #ffe066; /*Color de fondo de botom*/
    color:black ; /*Color del texto del boton*/
    padding:10px; /* del texto al borde del boton */
    width: 40%;
    margin: 10px 0px 30px 0px; /*superior derecho  inferior izquierdo*/
    font-weight: bold;
}

#recargar{
    margin: 0px 0px 0px 0px; /*superior derecho  inferior izquierdo*/
    width: 50px ; /*Ancho*/
    height: 40px ;  /*Alto*/
}

#limpiar{
    background: #ffe066; /*Color de fondo de botom*/
    color:black ; /*Color del texto del boton*/
    padding:10px; /* del texto al borde del boton */
    margin: 10px 0px 30px 0px; /*superior derecho  inferior izquierdo*/
    width: 100%;
    font-weight: bold;
}

/*Cuando el mouse va encima del boton*/
#btnC:hover{
    cursor: pointer;
}


/*Condicionales*/
/*max-width ancho como max 480px*/
@media(max-width:480px){
    form{
        width: 100%;
    }
}

footer{
    text-align: center;
    background:rgba(8, 18, 29, 0.801);
    margin: 30px 0px 10px 0px; /*superior derecho  inferior izquierdo*/
    font-size: 15px; 
}